.fixed-top {
    justify-content: flex-start;
    align-items: flex-start;
}

body {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.carolbaskin {
    margin: auto;
}

#tigerking {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
    width: 100%;
}

#hal {
    justify-content: flex-start;
}